*{
    margin: 0px;
    padding: 0px;
    font-family:'Microsoft YaHei',Times, TimesNR, 'New Century Schoolbook', Georgia,
 'New York', serif;
 text-align: center;
}
::-webkit-scrollbar  
{  
    width: 16px;  
    height: 16px;  
    background-color: #F5F5F5;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    border-radius: 10px;  
    background-color: #F5F5F5;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
}  
body{
	 background-color:#e3e3e3;
}
.header{
	background-color:#DD2432; 
}
.header_main{
	margin:0 auto;
	width:1024px;
	height: 60px;
}
#home_logo{
	display: inline-block;
	margin-top: 5px;
}
.nav_list{
	float: right;
	width:56%;
	height: 60px;
}
.nav_list a{
	float: right;
	width: 100px;
	height: 60px;
	color: #fff;
	font-size: 16px;
	line-height: 60px;
	list-style-type: none;
	text-decoration: none;
}
.nav_list a:hover{
 background-color: #a92136;
}
.nav_list a span{
	margin: 0 auto;
	margin-top: -17px;
	display:block;
	width:70px;
	height: 4px;
	background-color: #e5505a;
}
.nav_list a:hover span{
	background-color:#fff; 
}
#changepw{
	background-color:#a92136;
}
#changepw span{
	background-color: #fff;
}
.placeholder_picture{
	height: 120px;
	line-height: 120px;
	background:url(../image/lock.png) no-repeat center;
	background-size:60px;
}
.password_change{
	margin:0 auto;
	width: 500px;
	height: 140px;

}
.old_psw_box,.new_psw_box{
	margin: 0px;
	height: 35px;
	color:#767676;
    font-size: 18px;
    margin-top: 25px;
}
.re_psw_box{
	margin: 0px;
	height: 35px;
	color:#767676;
    font-size: 18px;
}
.password_change input{
	width: 180px;
    height: 30px;
    border: none;
    background-color:#F7F7F7;
    border-radius: 0px;
    outline: none;
    text-align: left;
    padding-left: 5px;
    border: 1px solid #d8d8d8;
}
#judge_psw{
	margin: 10px 33px;
	width: 500px;
	height:30px;
}
#judge_psw span{
	display:inline-block;
	width: 55px;
	color: #fff;
	background-color:rgba(101, 77, 77, 0.32);
}
#reconfirm{
	margin-left:-1em;
}
#submit_or_reset{
	margin-left:187px;
	margin-top: 25px;
	width: 180px;
}
#submit_or_reset input{
	width: 70px;
	text-align: center;
    font-size: 18px;
    color: #fff;
    background-color: #DD2432;
}
#submit_or_reset input:active{
		background-color: #CC101E;
		outline: none;
}
#submit{
	margin-right:40px;
}
#change_details{
	margin-left: 70px;
	color: #767676
}
#change_details p{
	font-size:12px;
}
.class_footer{
    position: fixed;
	width: 100%;
	height: 38px;
	text-align: center;
	bottom: 10px;
	left: 0;
	font-size: 12px;
	color:#9f91ad;
}