@charset "utf-8";
* {
  padding: 0;
  margin: 0;
  font-family: 微软雅黑;
}
body {
  width: 100%;
  background-image: url(../image/03.png);
  background-repeat: repeat;
}
.all_txt {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding-left: 8px;
  outline: none;
  color: rgba(155, 148, 148, 0.5);
  border: 1px solid rgba(155, 148, 148, 0.5);
  line-height: 25px;
}
.main {
  height: 250px;
  width: 850px;
  position: relative;
  margin: 9% auto auto;
}
.main .logo {
  height: 250px;
  width: 425px;
  float: left;
}
.main .logo div {
  height: 100px;
  width: 100%;
  margin-top: 70px;
}
.main .logo div img {
  height: 90px;
  width: 380px;
}
.main .txt {
  height: 250px;
  width: 425px;
  float: left;
  position: relative;
}
.main .txt .select {
  height: 17px;
  width: 65px;
  padding-left: 16px;
  line-height: 17px;
  border: 1px solid rgba(155, 148, 148, 0.8);
  position: absolute;
  border-radius: 6px;
  top: 23px;
  left: 307px;
  list-style: none;
  font-size: 14px;
  color: rgba(155, 148, 148, 0.9);
}
.main .txt .select .select_down {
  height: 15px;
  width: 15px;
  position: absolute;
  left: 60px;
}
.main .txt .select .select_down img {
  cursor: pointer;
}
.main .txt .select .select_up {
  height: 15px;
  width: 15px;
  position: absolute;
  left: 60px;
  display: none;
}
.main .txt .select .select_up img {
  cursor: pointer;
}
.main .txt .select .li2 {
  display: none;
  width: 66px;
  padding-left: 15px;
  margin-left: -16px;
  border-radius: 5px;
}
.main .txt .select .li2:hover {
  background-color: red;
  color: white;
}
.main .txt .select .li3 {
  display: none;
  width: 66px;
  padding-left: 15px;
  margin-left: -16px;
  border-radius: 5px;
}
.main .txt .select .li3:hover {
  background-color: red;
  color: white;
}
.main .txt .username {
  height: 25px;
  width: 61%;
  margin-top: 85px;
  margin-left: 28px;
}
.main .txt .username .user_txt {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding-left: 8px;
  outline: none;
  color: rgba(155, 148, 148, 0.5);
  border: 1px solid rgba(155, 148, 148, 0.5);
  line-height: 25px;
}
.main .txt .password {
  height: 25px;
  width: 61%;
  margin-top: 20px;
  margin-left: 28px;
}
.main .txt .password .pass_txt {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding-left: 8px;
  outline: none;
  color: rgba(155, 148, 148, 0.5);
  border: 1px solid rgba(155, 148, 148, 0.5);
  line-height: 25px;
}
.main .txt .login {
  height: 73px;
  width: 75px;
  border-radius: 4px;
  background-color: red;
  color: white;
  font-size: 16px;
  position: absolute;
  text-align: center;
  line-height: 73px;
  top: 85px;
  left: 310px;
  cursor: pointer;
}
.pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-top: 70px;
  margin-left: 5px;
  border: 1px solid red;
  float: left;
}
.word_pic {
  margin-top: 100px;
  margin-left: 10px;
  height: 36px;
  width: 280px;
  float: left;
}
.footer {
  width: 1024px;
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  bottom: 15px;
  /* margin-top: 20%; */
  background: url("../image/footer_line.png");
  background-repeat: no-repeat;
  background-position-x: 125px;
}
.footer div {
  margin-top: 15px;
  font-family: "Arial Unicode MS";
  font-size: 12px;
  color: #998889;
}
